@charset "UTF-8";
.bigbigTable {
	/* width: 1200px;
	height: 800px;
	border-collapse: collapse; */
	
	width: 1200px;
	height: 800px;
	align-content: center;
	align-self: center;
	align-items: center;
	margin: auto;
	border-color: white;
	border-width: thin;
	margin-bottom: 15%;
	
}
.Table_title1 {
	height: 10%;
	text-align: center;
}
.Table_title2 {
	text-align: center;
	width: 26%;
	height: 10%;
	border-bottom: 2px solid #A2A2A2;
	border-top: 2px solid #A2A2A2;
	border-left: 2px solid #A2A2A2;
	background-color: #A9A9A9;
	color: white;
	font-weight: bold;
}
.titleNum {
	text-align: right;
	height: 10%;
	padding: 0px 30px;
	border-right: 2px solid #A2A2A2;
	border-bottom: 2px solid #A2A2A2;
	background-color: #A9A9A9;
	color: white;
	font-weight: bold;
	font-size: 15pt;
}
.subTitle1 {
	width: 26%;
	height: 10%;
	text-align: center;
	border-left: 2px solid #A2A2A2;
	border-bottom: 2px solid #A2A2A2;
	background-color: #A50000;
	color: white;
}
.subTitle2 {
	width: 45.5%;
	height: 10%;
	text-align: center;
	background-color: #A50000;
	color: white;
}
.subTitle3 {
	width: 10%;
	height: 10%;
	text-align: center;
	background-color: #A50000;
	color: white;
}
.subTitle4 {
	width: 10%;
	height: 10%;
	text-align: center;
	border-right: 2px solid #A2A2A2;
	background-color: #A50000;
	color: white;
}
.subTitle5 {
	width: 8.5%;
	height: 10%;
	text-align: center;
	background-color: #A50000;
	color: white;
}
.reviewTable {
	width: 100%;
	height: 20%;
	border-collapse: collapse;
	border-bottom: 2px solid #E4E4E4;
}
.reviewtitle1 {
	width: 25%;
	height: 20%;
	text-align: center;
	border-collapse: collapse;
}
.reviewtitle2 {
	width: 45%;
	height: 20%;
	padding-left: 30px;
}
.reviewtitle3 {
	width: 10%;
	height: 20%;
	text-align: center;
}
.reviewtitle4 {
	width: 10%;
	height: 20%;
	text-align: center;
	border-collapse: collapse;
}
.reviewtitle5{
	width: 10%;
	height: 20%;
	text-align: center;
	
}
.PagingTable{
	height: 5%;
	text-align: center;
	border-right: 2px solid #A2A2A2;
	border-left: 2px solid #A2A2A2;
	border-bottom: 2px solid #A2A2A2;
	background-color: #F6F6F6;
	border-collapse: collapse;
}
.reviewtd{
	height: 55%;
	border-right: 2px solid #A2A2A2;
	border-left: 2px solid #A2A2A2;
	border-collapse: collapse;
	background-color: #F6F6F6;
}